[Desktop Entry]
Comment[en_US]=
Exec=/usr/lib/gnome-session/helpers/gnome-settings-daemon-helper
Hidden=true
Name[en_US]=GNOME Settings Daemon Helper
Name=GNOME Settings Daemon Helper
Name[ar]=مساعد عفريت GNOME Settings
Name[ast]=Aidante del demoñu de les preferencies de GNOME
Name[be@latin]=Dapamožnaja prahrama dla słužby naładaŭ GNOME
Name[bg]=Помощна програма за демона на настройките на GNOME
Name[bn_IN]=GNOME Settings ডেমন হেল্পার
Name[ca]=Auxiliar del dimoni dels paràmetres del GNOME
Name[cs]=Pomocný program démona nastavení GNOME
Name[da]=GNOME-indstillinger dæmonhjælper
Name[de]=GNOME-Einstellungen-Dienst-Helfer
Name[el]=GNOME Settings Daemon Helper
Name[en_GB]=GNOME Settings Daemon Helper
Name[es]=Ayudante del demonio del Administrador de preferencias de GNOME
Name[et]=GNOME sätetedeemoni abiline
Name[eu]=GNOMEren ezarpenen daemonaren laguntzailea
Name[fi]=Gnomen asetuspalvelimen käärin
Name[fr]=Assistant du service des paramètres GNOME
Name[ga]=Cuiditheoir Dheamhan Socruithe GNOME
Name[gl]=Axudante do daemon do xestor de preferencias de Gnome
Name[hu]=GNOME beállításdémon-átalakító
Name[it]=Helper demone impostazioni GNOME
Name[ja]=GNOME 設定デーモンのヘルパー
Name[kn]=GNOME ಸೆಟ್ಟಿಂಗ್ಸ್‍ ಡೀಮನ್ ಹೆಲ್ಪರ್
Name[ko]=그놈 설정 데몬 래퍼
Name[lt]=GNOME nustatymų tarnybos pagalbininkas
Name[mk]=Помагач за демонот за поставување на GNOME
Name[ml]=ഗ്നോം സജ്ജീകരണങ്ങള്‍ക്കുള്ള നിരന്തരപ്രവൃത്തിയ്ക്കായുള്ള വേലക്കാരന്‍
Name[mr]=GNOME संयोजना डीमन मदतकर्ता
Name[nb]=GNOME innstillingstjeneste
Name[nl]=Hulptoepassing voor de Gnome-instellingenvoorziening
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ ਸਹਾਇਕ
Name[pl]=Pomocnik usługi ustawień środowiska GNOME
Name[pt]=Assistente do Daemon das Definições GNOME
Name[pt_BR]=Auxiliar do GNOME Settings Daemon (daemon de configurações do GNOME)
Name[ru]=GNOME Settings Daemon Helper
Name[sl]=Demon GNOME pomoči nastavitev
Name[sv]=Hjälp för GNOME-inställningsdemon
Name[ta]=GNOME அமைப்புகள் டெய்மன் உதவியாளர்
Name[th]=ตัวช่วยดีมอนค่าตั้ง GNOME
Name[tr]=GNOME Ayarları Servis Yardımcısı
Name[uk]=Допоміжна програма служби параметрів GNOME
Name[zh_CN]=GNOME 设置守护程序辅助程序
Name[zh_HK]=GNOME 設定值伺服程式協助
Name[zh_TW]=GNOME 設定值伺服程式協助
OnlyShowIn=GNOME;
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-enabled=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Version=2.24.3
