<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep4">
      <IsReference>false</IsReference>
      <File>/home/nailll/.config/MonoDevelop/repository-cache/go-mono.com_4.mrep</File>
      <Url>http://go-mono.com/md/2.0/main.mrep</Url>
      <Name>go-mono.com</Name>
      <LastModified>1900-01-01T00:00:00.0000000+03:00</LastModified>
    </Repository>
    <Repository id="rep5">
      <IsReference>true</IsReference>
      <File>/home/nailll/.config/MonoDevelop/repository-cache/go-mono.com_5.mrep</File>
      <Url>http://go-mono.com/md/2.0/root.mrep</Url>
      <Name>go-mono.com</Name>
      <LastModified>1900-01-01T00:00:00.0000000+03:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>6</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>